.active__page__service {
  font-weight: bold;
}
.service-home {
  background-color: #f1f1f1;
}
.service-review {
  background-color: #f1f1f1;
}
.serivce-hero {
  background-image: url("/image/service\ hero\ bg.png");
}

@media screen and (max-width: 460px) {
  .serivce-hero .serivce-hero-text h2 {
    font-size: 25px;
  }
  .service__header h1 {
    font-size: 35px;
  }
}
